@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}

.btn-primary {
  @apply px-4 py-2 bg-primary text-white rounded-lg hover:bg-indigo-700 transition duration-300;
}

.card {
  @apply bg-white p-6 rounded-xl shadow-md hover:shadow-lg transition duration-300;
}
